#centerDiv {
    position: absolute;
    width: 80%;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 45px;
    margin-top: 125px; /* Header Height */
    margin-bottom: 30px; /* Footer Height */
    /*text-align: center;*/
    top: 0;
    font-size: x-large;
    background-color: white;
    line-height: 40px;
}

#mePic {
    border-radius: 50%;
    border: 0px solid black;
    width: 220px;
    height: 220px;
    float: right;
    display: block;
    margin: 10px;
    background-image: url("Images/profilepic.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(1.25) drop-shadow(0px 2px 1px black);
}

#p1 {
    
}

#p2 {
    display: block;
    float: left;
}