:root {
    --offWhite: #fffdf0;
    --darkAccent: #003049;
    --brightAccent: #f77f00;
    --lightAccent: #fcbf49;
    --red: #d62828;
    --headerHeight: 125px;
    --footerHeight: 30px;
    --lightGrey: #a5a5a5;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: auto;


    /* No select for text by default */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

ul {
    display: table-row;
    table-layout: fixed;
    font-weight: 700;
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 50%;
    min-width: 500px;
    display: table;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
}

li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

a {color:black;}

a.menu:link {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 8px 0px 8px 0px;
    color: black;
    font-style: normal;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 1px;
}

.basicLink {
    color: var(--darkAccent);
}

.basicLink:hover {
    filter: none;
}

a:hover {
    filter: drop-shadow(-5px 5px 0px var(--lightAccent));
    cursor: pointer;
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: large;
    padding: 8px;
    color: black;
    font-style: normal;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
}

.button:hover {
    filter: drop-shadow(-5px 5px 0px var(--lightAccent));
    cursor: pointer;
    transition: all .1s ease-in-out; 
    transform: scale(1.05);
}

#header {
    position: relative;
    height: var(--headerHeight);
    background-color: white;
    background-image: url("Images/honeycomb.png");
    background-repeat: repeat-x;
    background-size: 150px var(--headerHeight);
    text-align: center;
    z-index: 10;
}

#menuCenter {
    width: 80%;
    max-width: 850px;
    height: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 125px;
}

#logo {
    height: 50px;
    margin-top: 10px;
}

#logo:hover {
    transition: all .1s ease-in-out; 
    transform: scale(1.1) rotate(-2deg);
}

#mainFrame {
    position: absolute;
    top: var(--headerHeight); /* Header Height */
    bottom: var(--footerHeight); /* Footer Height */
    width: 100%;
}

#footer {
    width: 100%;
    height: var(--footerHeight);
    background-color: white;
    position: fixed;
    text-align: center;
    bottom: 0;
    background-image: url("Images/honeycomb.png");
    background-repeat: repeat-x;
    background-size: 150px var(--headerHeight);
    z-index: 10;
}

#copyright {
    position: relative;
    top: 5px;
    color: var(--lightGrey);
    font-size: small;
    background-color: white;
}

#copyright:hover {
    color: black;
    font-weight: 700;
}

/* Slider CSS */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 2.1px #000000, 0px 0px 0.4px #0d0d0d;
    background: #ffffff;
    border-radius: 5px;
    border: 1.5px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.7px 1.7px 2.8px #000000, 0px 0px 1.7px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 33px;
    border-radius: 50px;
    background: #003049;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 2.1px #000000, 0px 0px 0.4px #0d0d0d;
    background: #ffffff;
    border-radius: 5px;
    border: 1.5px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.7px 1.7px 2.8px #000000, 0px 0px 1.7px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 33px;
    border-radius: 50px;
    background: #003049;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #b8b8b8;
    border: 1.5px solid #000000;
    border-radius: 10px;
    box-shadow: 0.4px 0.4px 2.1px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 10px;
    box-shadow: 0.4px 0.4px 2.1px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.7px 1.7px 2.8px #000000, 0px 0px 1.7px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 33px;
    border-radius: 50px;
    background: #003049;
    cursor: pointer;
    height: 11px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

/* Buttons */

#playButton {
    border: none;
    width: 100px; 
    height: 100px; 
    margin-top: 5px;
    background-image: url("Images/playButton.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
}

#playButton:hover {
    cursor: pointer;
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    filter: drop-shadow(-3px 3px 1px rgba(0, 0, 0, 0.13));
}

#playButton:active {
    background-image: url("Images/playButtonClicked.png");
    transition: all .001s ease-in-out;
    transform: scale(1);
    filter: none;
}

*:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {
    border: 0;
}

#projectsMenu {
    display: none;
    background-color:  rgba(235, 235, 235, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#projMenuExit {
    font-size: 80px;
    position: absolute;
    right: 2%;
    top: 2%;
    background: none;
    border:none;
    height: 100px;
    width: 100px;
    z-index: 102;
}

#projMenuExit:hover {
    filter: drop-shadow(-5px 5px 0px var(--lightAccent));
    cursor: pointer;
    transition: all .1s ease-in-out; 
    transform: scale(1.05);
}

#projCenterBox {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 80%;
    max-width: 1000px;
    filter: drop-shadow(0px 0px 10px black);
    overflow: auto;
}

#honeycombProjMenu {
    background-size: 200px 200px;
    background-repeat: repeat-y;
    background-color: transparent;
    width: 10%;
    opacity: 0.25;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 101;
}

#projMenuContent {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    z-index: 100;
    background-color: white;
}

#projMenuTable {
    float: left;
    height: 100%;
    width: 30%;
    z-index: 101;
    background-color: white;
    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.11));
}

#projMenuTable td {
    height: 100px;
    border: 3px solid white;
    border-radius: 0px;
    text-align: center;
    padding: 0;
}

#projMenuTable td:hover {
    border: 3px solid var(--lightGrey);
    text-align: center;
    cursor: pointer;
}

#projMenuBackImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/mandelbrot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 100;
    transition: opacity 0.25s;
}

#projMenuBackImg.fade{
    opacity: 0;
}

#projMenuDescriptionBox {
    position: absolute;
    width: 70%;
    top: 20%;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 102;
    text-align: center;
}

#projMenuSources {
    position: absolute;
    color: white;
    text-shadow: 1px 1px black;
    font-size: x-small;
    padding: 0px 10px 10px 0px;
    z-index: 102;
    right: 0;
    bottom: 0;
}
  
#projMenuTitle {
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-size: 200%;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    -webkit-text-stroke: 1px white;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid white;
}

#projMenuDescription {
    font-size: x-large;
    text-align: center;
    padding: 10px 10px 10px 10px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid white;
}

.projLinkBox {
    padding: 50px 0;
    vertical-align: middle;
    font-weight: 100;
    font-size: medium;
    font-family: 'Rubik Mono One', sans-serif;
    line-height: 200%;
    letter-spacing: 0.2rem;
}

.noStyleLink {
    text-decoration: none;
}

.noStyleLink:hover {
    filter: none;
}
  

