:root {
    --offWhite: #fffdf0;
    --darkAccent: #003049;
    --brightAccent: #f77f00;
    --lightAccent: #fcbf49;
    --red: #d62828;
    --headerHeight: 125px;
    --footerHeight: 30px;
    --lightGrey: #a5a5a5;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    font-weight: 700;
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 80%;
    min-width: 500px;
    display: table;
    margin: 0 auto;
}

li {
    display: table-cell;
    vertical-align: middle;
}

a {color:black;}

a.menu:link {
    padding: 8px;
    color: black;
    font-style: normal;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
}

a:hover {
    filter: drop-shadow(-5px 5px 0px var(--lightAccent));
    cursor: pointer;
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
}

#header {
    height: var(--headerHeight);
    background-color: white;
    background-image: url("Images/honeycomb.png");
    background-repeat: repeat-x;
    background-size: 150px var(--headerHeight);
    text-align: center;
}

#menuCenter {
    width: 80%;
    min-width: 600px;
    max-width: 850px;
    height: 100%;
    display: inline-block;
}

#logo {
    height: 50px;
    margin-top: 10px;
}

#mainFrame {
    position: absolute;
    top: var(--headerHeight); /* Header Height */
    bottom: var(--footerHeight); /* Footer Height */
    width: 100%;
}

#footer {
    width: 100%;
    height: var(--footerHeight);
    background-color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
}

#copyright {
    position: relative;
    top: 5px;
    color: var(--lightGrey);
    font-size: small;
}

#copyright:hover {
    color: black;
    font-weight: 700;
}

